{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/survey/css/form.css">
    <link rel="stylesheet" href="/static/survey/css/animation.css">
    <script src="/static/survey/js/form.js"></script>
{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="part1 inline">
      <form id="part1" class="form feedback-form">
        {% csrf_token %}
        <p>
          Спасибо за участие в нашем опросе! 
        </p>
        <p>
         Если вы хотите задать нам вопрос или оставить комментарий, вы можете сделать это в поле ниже. Не забудьте оставить свой email для обратной связи.
        </p>
        <div>
          <p class="title">e-mail</p>
          <input type="mail" class="input" name="email" value="{{ form.initial.email }}">
        </div>
        <div>
          <p class="title">Текст сообщения</p>
          <textarea name="feedback" rows="10">{{ form.initial.feedback }}</textarea>
        </div>
        <div class="submit">отправить</div>
      </form>
    </div>
    <div class="part2 inline">
      <div id="part1" class="form">
        <p id="success-message">
          Ваше сообщения отправлено. Спасибо!
        </p>
        <div id="success-image" class="mail_img">
          <img src="/static/survey/img/mail.png" alt="mail">
        </div>
        
      </div> 
      
    </div>
   
  </div>

{% endblock %}
