<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>анкета</title>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animation.css">
  <script src="js/jquery.js"></script>
  <script src="js/script.js"></script>
</head>
<body>

  <div class="wrapper">
    <div class="part1 inline">
      <form id="part1" class="form">
        <p>
          Спасибо за участие в нашем опросе! 
        </p>
        <p>
         Если вы хотите задать нам вопрос или оставить комментарий, вы можете сделать это в поле ниже. Не забудьте оставить свой email для обратной связи.
        </p>
        <div>
          <p class="title">e-mail</p>
          <input type="mail" class="input">
        </div>
        <div>
          <p class="title">Текст сообщения</p>
          <textarea name="massage" id="" rows="10"></textarea> 
        </div>
        <div class="submit">отправить</div>
      </form>
    </div>
    <div class="part2 inline">
      <div id="part1" class="form">
        <p>
          Ваше сообщения отправлено.
        </p>
        <div class="mail_img">
          <img src="mail.png" alt="mail">
        </div>
        
      </div> 
      
    </div>
   
  </div>
 
</body>
</html>