{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/survey/css/group.css">
    <script src="/static/survey/js/group.js"></script>
    <script src="/static/survey/js/randomColor.js"></script>
    <script>
    var to_group = {{ to_group|safe }};
    var done_contexts = {{ done_contexts }};
    var total_to_group = {{ total_to_group }};
    var feedback_url = "{%  url "survey_feedback" participant %}";
    </script>
{% endblock %}

{% block content %}

    <div id="section"  ondragenter="return dragEnter(event)" class="mess_group"
         ondrop="ctxDragDrop(event)"
         ondragover="return dragOver(event)">
    </div>
    <div id="groups"></div>
    <div class="control_buttons">
        <div class="new_group inline">
            <p>создать новую группу</p>
        </div>
        <div class="next_group inline disabled">
            <p>перейти к следующему вопросу</p>
        </div>
    </div>

    <div id="support">
        Что-то не работает? Пишите на
        <a href="mailto:kostia.lopuhin@gmail.com">kostia.lopuhin@gmail.com</a>
    </div>

    {% csrf_token %}

{% endblock %}
