{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/survey/css/style.css">
    <link rel="stylesheet" href="/static/survey/css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/static/survey/js/script.js"></script>
{% endblock %}

{% block content %}

  <div class="wrapper">
     <div class="part1 inline">
      <form id="part1" class="form">
          <p>Здравствуйте!</p>
          <p>
            Лаборатория нейролингвистики и&#160;Школа лингвистики НИУ ВШЭ приглашает Вас принять участие в&#160;псхолингвистическом исследовании. Оно посвящено тому, как люди классифицируют значения слов. Это важно знать, во-первых, для понимания, как информация о&#160;словах хранится в&#160;создании человека. А&#160;во-вторых, для создания современных словарей, учитывающих эту информацию. В&#160;ходе исследования, которое состоит из&#160;50&#160;вопросов, Вам нужно будет группировать фразы по&#160;степени близости значений заданных слов, складывая их&#160;в&#160;виртуальные корзины.
          </p>
          <p>
            Нажимая на&#160;кнопку <i>Далее</i>, вы&#160;подтверждаете, что добровольно соглашаетесь на&#160;участие в&#160;исследовании, что вам от&#160;16&#160;до&#160;70&#160;лет, ваш родной язык&#160;&#8212; русский, и&#160;вы&#160;не&#160;страдаете от&#160;неврологических и&#160;психических заболеваний.
          </p>
          <div class="submit">Далее</div>
      </form>
    </div>
    <div class="part2 inline">
      <form action="" id="part2" class="form" method="POST">
        {% csrf_token %}
        <p>Мы хотим узнать ещё немного о вас:</p>
        <div>
          <p class="title">Пол</p>
          <p class="input_radio"><input type="radio" name="sex" class="radio" id="r1" value='0'><label for="r1">мужчина</label></p>
          <p class="input_radio"><input type="radio" name="sex" class="radio" id="r2" value='1'><label for="r2">женщина</label></p>
        </div>
        <div>
          <p class="title">Возраст</p>
          <input type="number" min="17" max="100" class="input" name="age" placeholder="введите число от 17 до 70">
        </div>
        <div>
          <p class="title">Ведущая рука</p>
            {{ form.leading_hand }}
        </div>
        <div>
          <p class="title">Родной язык/языки</p>
          <input type="text" class="input" placeholder="пожалуйста, перечислите все" name="languages">
        </div>
        <div>
          <p class="title">По специальности вы:</p>
          <input type="text" class="input" name="profession">
        </div>
        <div>
          <p class="title">Последняя законченная ступень образования</p>
            {{ form.education }}
        </div>
        <div class="submit">Далее</div>
      </form>
    </div >
    <div class="part3 inline">
      <div id="par3" class="form">
        <p>
         В&#160;левой части экрана вы&#160;увидите несколько словосочетаний с&#160;одним и&#160;тем&#160;же словом. Их&#160;нужно разложить по&#160;корзинам так, чтобы в&#160;каждой корзине это слово выступало в&#160;одном и&#160;том&#160;же значении. Число корзин может быть любым; количество словосочетаний в&#160;корзине также любым. Не&#160;заглядывайте в&#160;словарь, нам важна ваша интуиция.
        </p>
        <p>
          Например, &#60;здесь нужен будет пример со&#160;скриншотами, когда будут скриншоты&#62;
        </p>
        <div class="start"><a id="next" href="#">начать тест</a></div>
      </div>
    </div>
   
  </div>

{% endblock %}