{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/survey/css/form.css">
    <link rel="stylesheet" href="/static/survey/css/animation.css">
    <script src="/static/survey/js/form.js"></script>
{% endblock %}

{% block content %}

  <div class="wrapper">
     <div class="part1 inline">
      <form id="part1" class="form">
          <p>Здравствуйте!</p>
          <p>
            Лаборатория нейролингвистики и Школа лингвистики НИУ ВШЭ приглашают вас принять участие в психолингвистическом исследовании. Оно посвящено тому, как люди определяют значение слова по контексту. Это важно знать, во-первых, для понимания, как информация о словах хранится в сознании человека. А во-вторых, для создания современных словарей, учитывающих эту информацию. В ходе исследования, которое состоит из 50 вопросов, Вам нужно будет группировать фразы по степени близости значений заданных слов, складывая их в виртуальные корзины.
          </p>
          <p>
            Нажимая на кнопку <i>Далее</i>, вы подтверждаете, что добровольно соглашаетесь на участие в исследовании, что вам от 16 до 70 лет, ваш родной язык - русский, и вы не страдаете неврологическими и психическими заболеваниями.
          </p>
          <div class="submit">Далее</div>
      </form>
    </div>
    <div class="part2 inline">
      <form action="" id="part2" class="form start-form" method="POST">
        {% csrf_token %}
        <p>Мы хотим узнать ещё немного о вас:</p>
        <div>
          <p class="title">Пол</p>
          <p class="input_radio"><input type="radio" name="sex" class="radio" id="r1" value='0'><label for="r1">мужчина</label></p>
          <p class="input_radio"><input type="radio" name="sex" class="radio" id="r2" value='1'><label for="r2">женщина</label></p>
        </div>
        <div>
          <p class="title">Возраст</p>
          <input type="number" min="17" max="100" class="input" name="age" placeholder="введите число от 17 до 70">
        </div>
        <div>
          <p class="title">Ведущая рука</p>
            {{ form.leading_hand }}
        </div>
        <div>
          <p class="title">Родной язык/языки</p>
          <input type="text" class="input" placeholder="пожалуйста, перечислите все" name="languages">
        </div>
        <div>
          <p class="title">По специальности вы:</p>
          <input type="text" class="input" name="profession">
        </div>
        <div>
          <p class="title">Последняя законченная ступень образования</p>
            {{ form.education }}
        </div>
        <div class="submit">Далее</div>
      </form>
    </div >
    <div class="part3 inline">
      <div id="par3" class="form">
        <p>
          В левой части экрана вы увидите несколько словосочетаний с одним и тем же словом. Их нужно разложить по корзинам так, чтобы в каждой корзине это слово выступало в одном и том же значении. Число корзин может быть любым; количество словосочетаний в корзине также любым. Не заглядывайте в словарь, нам важна ваша интуиция.
        </p>
        <p>
          Например, <img class="screen" src="/static/survey/img/screen.png" alt="Пример"/>
        </p>
        <div class="start link"><a id="next" href="#">Начать тест</a></div>
      </div>
    </div>
   
  </div>

{% endblock %}