{% extends "base.html" %}

{% block extra_head %}
    <style>
    table.results td, th {
        min-width: 50px;
        text-align: left;
        padding-right: 10px;
    }
    </style>
{% endblock %}

{% block content %}

    <table class="results">
        <tr>
            <th>Источник</th>
            <th>Участников</th>
            <th>&ge; 2</th>
            <th>&ge; 4</th>
            <th>&ge; 6</th>
            <th>&ge; 8</th>
            <th>Дошли до конца</th>
        </tr>
        {% for source, stats in stats_by_source %}
            <tr>
                <td>{{ source|default:"не задан" }}</td>
                <td>{{ stats.started }}</td>
                <td>{{ stats.done_2 }}</td>
                <td>{{ stats.done_4 }}</td>
                <td>{{ stats.done_6 }}</td>
                <td>{{ stats.done_8 }}</td>
                <td>{{ stats.finished }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
